body {
    height: 130vh;
    font-family: 'Roboto', sans-serif;
    background: center / cover no-repeat url('../img/beground.png');
}
.container {
    width: 1030px;
    margin: 46px auto 0;
}
h1, h2, a, p
{
    color: #FFF;
}
.header-navbar {
    width: 100%;
    height: 61px;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-link:hover 
.logo-link-icon-default {
    display: none;
}

.logo-link:hover 
.logo-link-icon-hover {
    display: block;
}

.logo-link-icon-hover {
    display: none;
}

.logo-link img {
    width: 53px;
    margin-right: 8px;
}

.logo-text,
.logo-text span 
.header-contacts a {
    font-weight: 700;
    font-size: 18px;
}

.logo-text {
    margin-top: 4px;
}

.logo-text span {
    font-size: 29px;
}

.header-contacts {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-contacts a {
    text-align: right;
    font-weight: 400;
    font-size: 18px;
}

.header-contacts a:hover,
.logo-link:hover 
.logo-text,
.tours-block:hover .tours-title {
    color: #F26522;
}

.menu-tours {
    width: 100%;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.menu-tours li {
    width: 309px;
    height: 261px;
}

.tours-block {
    width: 100%;
    text-align: center;
}

.image-area {
    position: relative;
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 3px solid transparent;
}

.shopping-tours,
.sightseeing-tours,
.food-tours {
    background:linear-gradient(to bottom, #fff 0%, #000 100%) border-box;
}

.bars-nightlife,
.art-architecture,
.walking-tours {
    background:linear-gradient(to top, #fff 0%, #000 100%) border-box;
}

.image-area img {
    width: 100%;
}

.descr-preview {
    position: absolute;
    width: 100%;
    height: 55px;
    bottom: 0;
    background: #F26522;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: translate(0px, 55px);
}

.tours-block:hover 
.descr-preview {
    opacity: 1;
    transform: translate(0px, 0px);    
}

.descr-preview p {
    display: inline-block;
}

.hover {
    height: 55px;
    margin-left: 16px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 80px;
    flex-shrink: 0;
}

.from {
    font-size: 10px;
    width: 22px;
    height: 14px;
}

.cost {
    width: 22px;
    height: 14px;
}

.preview-link {
    font-size: 14px;
    margin: 14px 16px;
}

p.preview-link::after {
    content: url('../img/Vector\ 1.png');
    width: 78px;
    margin-left: 16px;
    position: relative;
}

.tours-title {
    font-size: 18px;
}

.footer-milan-holidays {
    width: 100%;
    margin: 48px auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    display: inline-block;
    font-size: 12px;
}
